html{
    /* colors:*/
    --brightPurple: #692183;
    --darkPurle: #7B449C;
    --brightYellow: #EBDE67;
    --darkYellow: #DAD287;
    --green: #D4FFB1;
    --coral: #E29A9A;
    --backgroundColor: #1D206A;

    --fontOne: 'Roboto', sans-serif;
    --fontTwo: 'Press Start 2P', sans-serif;

    font-family: var(--fontOne);
}

body{
    margin: 0;
    /* background-color: var(--backgroundColor); */

    background-image: url(./bgimg/bgImg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap;
    margin: auto;
}

.leftWidget{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 1.5em;

    background-color: var(--brightPurple);
    border: 2px solid black;
}

.profilePicture{
    height: 12em;
    margin-top: 1.5em;
    border: 2px solid black;
    /* margin-left: 1.5em; */
}

.name{
    margin: .5em 0;
    font-family: var(--fontTwo);
    color: white;
}

.rightWidget{
    flex: 3;

    background-color: var(--gray);
}

.rightTitle{
    text-align: center;
    padding: .25em 0;
    font-family: var(--fontTwo);
    color: rgb(51, 228, 219);
    background-color: rgba(42, 13, 48, .5);
}

.project{
    margin: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.project:nth-of-type(1n){
    background-color: var(--darkYellow);
}

.project:nth-of-type(1n) button{
    background-color: var(--coral);
}

.project:nth-of-type(2n){
    background-color: var(--darkPurle);
}

.project:nth-of-type(2n) button{
    background-color: var(--green);
}

.project h1{
    font-size: 1.25em;
    font-family: var(--fontTwo);
}

.section1{
    margin: 2em;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    text-align: center;
}

button{
    font-family: var(--fontTwo);
    padding: .25em 1em;
    text-align: center;
}

.leftWidget button{
    font-size: 1.25em;
    /* padding: .25em 3em; */
    width: 9.5em;
    font-family: var(--fontTwo);
    background-color: var(--brightYellow);
}

/* media queries */
@media (max-width: 400px){
    body{
        margin: 0;
        background-image: url(./bgimg/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
    }

    .leftWidget{
        /*hide all in navbar at this size*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        padding-bottom: 1.5em;
    
        background-color: var(--brightPurple);
        border: 2px solid black;
    }
    
    .rightTitle{
        text-align: center;
        padding: .25em 0;
        font-family: var(--fontTwo);
        font-size: 1.5em;
        color: white;
        background-color: rgba(69, 126, 143, 0.5);
    }
    
    .project{
        margin: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        background-color: var(--burntOrange);
    }
    
    .project h1{
        font-size: 1.25em;
        font-family: var(--fontTwo);
    }
    
    .section1{
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .section2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2em;
        text-align: center;
        font-size: 1.5em;
    }
}


button:hover{
    background-color: yellowgreen;
}

.project button:hover{
    background-color: yellowgreen;  
}

.project:hover{
    box-shadow: 0 0 25px rgba(119, 202, 175, 1);
}