html{
    /*color schemes*/
    --darkBlue: #01141B;
    --coralOrange: #8B4E48;
    --bannerFont: 'Montserrat Subrayada', sans-serif;;
    --projectFont: 'Raleway', sans-serif;
}

body{
    margin: 0;
}

.banner{
    background-image:url(./bgimg/bgimg.jpg) ;
    background-repeat: no-repeat;
    background-position: 50% 18%;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}

.nameAndDescript{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.name{
    margin-left: 2em;
    margin-bottom: 0;
    text-align: left;
    color: white;
    font-family: var(--bannerFont);
    font-size: 5em;
}

.description{
    margin-left: 10em;
    margin-top: 0;
    text-align: left;
    color: white;
    font-family: var(--projectFont);
    font-size: 1.5em;
}