html{
    /*color schemes*/
    /* --darkBlue: #08161F;
    --mediumBlue: #0d2331;
    --mediumBlueTwo: #011E26;
    --lightBlue: #AEE8F1; */
    --darkGray: #180E0F;
    --mediumBlue: #242323;
    --mediumBlueTwo: #242323;
    --lightBlue: #AEE8F1;
    --coralOrange: #8B4E48;
    --orange: rgba(215, 99, 42, .35);
    --lightOrange: #f1ccae;
    --lightOrange2: #e6bc63;
    --grey: #818181;

    --bannerFont: 'Montserrat Subrayada', sans-serif;;
    --projectFont: 'Raleway', sans-serif;
    --projHeaderFont: 'Recursive', sans-serif;
}

body{
    margin: 0;
    background-color: var(--darkGray);
}

.banner{
    background-image:url(./bgimg/bgimg2.jpg) ;
    background-repeat: no-repeat;
    background-position: 50% 18%;
    background-size: cover;
    height: 100vh;

    display: block;
    
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */

    z-index: 4;

}

.nameAndDescript{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

.name{
    text-align: center;
    color: white;
    font-family: var(--bannerFont);
    font-size: 5em;
}

.description{
    text-align: center;
    color: white;
    font-family: var(--projectFont);
    font-size: 1.5em;
}

.recentProHead{
    /* box model */
    margin-bottom: 0;
    margin-top: .5em;
    padding: .25em 0;
    /*font and design*/
    color: white;
    text-shadow: 2.5px 2.5px var(--lightOrange);
    /* text-shadow: 1px 1px 2px var(--lightBlue), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue); */
    text-align: center;
    font-size: 3.5em;
    font-family: var(--bannerFont);
    font-weight: bold;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 1em;
    margin-bottom: .5em;
}

.socials img{
    height: 2.5em;
    width: 2.5em;
    margin: .5em;

    transition: all 1.5s;
}


.projectDisplay{
    margin-bottom: 5em;
}


/*JavaScript classes*/
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 1em;
}

.projectDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 30em;
    background-color: var(--mediumBlue);
    border: 2px solid var(--mediumBlue);
    /* border-radius: 2em; */
    margin: 2em;
    padding-bottom: 1.5em; 

    transition: all 1.5s;
}

.projectHeader{
    font-size: 2.5em;
    font-family: var(--projectFont);
    font-weight: bold;
    color: white;
    margin-bottom: 0;
    margin-top: .5em;

}

.projectImg{
    width: 21em;
    height: 15em;
    margin: 1em;
    object-fit: cover;
}

.projectButtons{
    /* sizing */
    width: 16em;

    /* box model */
    margin: 1em;
    padding: .25em 1em;

    /* color and design */
    background-color: var(--coralOrange);
    border: 2px solid var(--coralOrange);
    border-radius: 5em;

    /* font design */
    color: white;
    font-size: 1.25em;
    font-family: var(--projectFont);
    font-weight: bold;

    /*transition*/
    transition: all 1.5s;

}

.emailName{
    margin-left: 2em;
    font-size: .5em;
    font-family: var(--bannerFont);
}

.emailFont{
    font-family: var(--projectFont);
}

.websiteRepo{
    text-align: center;
    font-family: var(--projectFont);
    font-size: 3em;
    color: white;
    margin-top: 1em;
    
}

.websiteRepo button{
    width: 15em;
    font-size: .5em;
}

.websiteRepo button:hover{
    box-shadow: 0 0 75px var(--lightBlue); 
}

footer{
    background-color: var(--mediumBlueTwo);
    padding: 1em;
    padding-top: .5em;
}

/*
media queries
*/
@media (max-width: 500px){
    html{
        margin: 0
    }
    body{
        margin: 0;
    }
    .banner{
        display: block;
        height: 40vh;
    }

    .nameAndDescript{
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    .name{
        margin: 0;
        font-size: 2em;
        text-align: center;
    }

    .description{
        margin: 0;
        font-size: .75em;
        text-align: center;
    }

    .recentProHead{
        font-size: 2em;
    }
    
    /*projects*/
    .projectDiv{
        min-width: 18em;
        max-width: 20em;
    }
    .projectHeader{
        font-size: 1.5em;
    }
    
    .projectImg{
        width: 15em;
        height: 10em;
        margin: 1em;
        object-fit: cover;
    }
    
    .projectButtons{
        /* sizing */
        width: 10em;
    
        /* box model */
        margin: 1em;
        padding: .25em 1em;
    
        /* font design */
        font-size: 1.25em;
    
    }

    .websiteRepo{
        text-align: center;
        font-size: 1em;        
    }
    
    .websiteRepo button{
        width: 12em;
        font-size: .75em;
    }
    
    
}

@media (min-width: 501px) and (max-width: 800px){
    .banner{
        display: block;
        height: 75vh;
    }
    
    .nameAndDescript{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    

    .name{
        margin: 0;
        font-size: 4.25em;
        text-align: center;
    }

    .description{
        margin: 0;
        font-size: 1em;
        text-align: center;
    }
}

/* interaction */
/*projects*/
.projectDiv:hover{
    box-shadow: 0 0 75px var(--lightBlue);
    transform: translateY(-0.25em);
    cursor: pointer;
    
    /* rgba(46, 84, 167, 0.75); */
}

.socials img:hover{
    background-color: var(--lightOrange);
    border-radius:50%;
    box-shadow: 0 0 0 5px var(--lightOrange);
}

.projectDiv .projectButtons:hover{
    color: var(--lightOrange2);
}

footer .projectButtons:hover{
    color: var(--lightOrange2);
}
