html{
    /*color schemes*/
    --darkBlue: #08161F;
    --mediumBlue: #0B394A;
    --lightBlue: #AEE8F1;
    --coralOrange: #8B4E48;
    --orange: rgba(215, 99, 42, .35);
    --lightOrange: #f1ccae;
    --grey: #818181;

    --bannerFont: 'Montserrat Subrayada', sans-serif;;
    --projectFont: 'Raleway', sans-serif;
    --projHeaderFont: 'Recursive', sans-serif;
}

body{
    margin: 0;
    background-color: var(--darkBlue);
}

.banner{
    background-image:url(./bgimg/bgimg.jpg) ;
    background-repeat: no-repeat;
    background-position: 50% 18%;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: -1;

}

.nameAndDescript{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12em;
}

.name{
    margin-left: 2em;
    margin-bottom: 0;
    text-align: left;
    color: white;
    font-family: var(--bannerFont);
    font-size: 5em;
}

.description{
    margin-left: 10em;
    margin-top: 0;
    text-align: left;
    color: white;
    font-family: var(--projectFont);
    font-size: 1.5em;
}

.recentProHead{
    /* box model */
    margin-bottom: 0;
    margin-top: .5em;
    padding: .25em 0;
    /*font and design*/
    color: white;
    text-shadow: 2.5px 2.5px var(--lightOrange);
    /* text-shadow: 1px 1px 2px var(--lightBlue), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue); */
    text-align: center;
    font-size: 3.5em;
    font-family: var(--bannerFont);
    font-weight: bold;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1em;
}

.socials img{
    height: 2.5em;
    width: 2.5em;
    margin: .5em;
}

/*navigation*/
#navigation{
    z-index: 3;
    max-width: 50em;
    position: absolute;

    display: none;
    background-color: var(--darkBlue);
    margin: 0;
    padding: 3em;
    top: 0;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#menuImg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;
    position: absolute;
    z-index: 4;
}

.navUl{
    display: none;
    background-color: var(--darkBlue);
    margin: 0;
    padding: 3em;
    list-style-type: none;
}


.profileImg{
    width: 15em;
}

/*JavaScript classes*/
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 1em;
}

.projectDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 30em;
    background-color: var(--mediumBlue);
    border: 2px solid var(--mediumBlue);
    border-radius: 2.5em;
    margin: 2em;
    padding-bottom: 1.5em; 
}

.projectHeader{
    font-size: 2.5em;
    font-family: var(--projHeaderFont);
    color: white;
    margin-bottom: 0;
    margin-top: .5em;

}

.projectImg{
    width: 21em;
    height: 15em;
    margin: 1em;
    object-fit: cover;
}

.projectButtons{
    /* sizing */
    width: 16em;

    /* box model */
    margin: 1em;
    padding: .25em 1em;

    /* color and design */
    background-color: var(--coralOrange);
    border: 2px solid var(--coralOrange);
    border-radius: 5em;

    /* font design */
    color: white;
    font-size: 1.25em;
    font-family: var(--projHeaderFont);

}

.emailName{
    margin-left: 2em;
    font-size: .5em;
    font-family: var(--bannerFont);
}

.emailFont{
    font-family: var(--projectFont);
}

/* interaction */
/*projects*/
.projectDiv:hover{
    box-shadow: 0 0 75px var(--lightBlue);
    
    /* rgba(46, 84, 167, 0.75); */
}

.socials img:hover{
    background-color: var(--lightOrange);
    border-radius:50%;
    box-shadow: 0 0 0 5px var(--lightOrange);
}

.projectButtons:hover{
    color: var(--lightOrange);
}