html{
    /*color schemes*/
    --darkGray: #1A1112;
    --mediumBlue: #242323;
    --mediumBlueTwo: #242323;
    --lightBlue: #AEE8F1;
    --coralOrange: #8B4E48;
    --orange: rgba(215, 99, 42, .35);
    --lightOrange: #f1ccae;
    --lightOrange2: #e6bc63;
    --grey: #818181;

    --bannerFont: 'Montserrat Subrayada', sans-serif;;
    --projectFont: 'Raleway', sans-serif;
    --projHeaderFont: 'Recursive', sans-serif;
}

/*navigation*/
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;

    z-index: 3;
    margin: 0;
    padding: .5em 2.5em;

    background-color: var(--darkBlue);
    min-width: 25em;
    transform: translateY(-105%); /* move it horizontally off the page */
    /* transition: transform 1s cubic-bezier(0.895, 0.03, 0.685, 0.22); */
    transition: transform 2s;
}
    
.opened{
    transform: translateY(0);
    transition: transform 2s;
}

.close{
    width: 6em;
}

.menuImg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;
    position: absolute;
    z-index: 4;
}

.navUl{
    display: none;
    background-color: var(--darkBlue);
    margin: 0;
    padding: 3em;
    list-style-type: none;
}


.profileImg{
    width: 15em;
    margin-top: 1em;
}

.navigation{
    z-index: 4;
    height: 12em;
}

.navbar button:hover{
    box-shadow: 0 0 75px var(--lightBlue);
    transform: translateY(-0.25em);
    cursor: pointer;
}

/*
media queries
*/
@media (max-width: 500px){
    .navigation{
        z-index: 4;
        height: 5em;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: .5em;
    }

    .profileImg{
        margin-top: 2em;
        width: 10em;
    }

    .close{
        width: 5em;
    }
    
    .menuImg{
        width: 5em;
        z-index: 4;
    }

    .navbar button{
        width: 6em;
        font-size: 1em;
    }
}

@media (min-width: 501px) and (max-width: 800px){
    .navigation{
        height: 5.5em;
    }

    .navbar{
        width: 50vw;
    }
}