/*navigation*/
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;

    z-index: 3;
    margin: 0;
    padding: .5em 2.5em;

    background-color: var(--darkBlue);
    min-width: 25em;
    transform: translateY(-105%); /* move it horizontally off the page */
    /* transition: transform 1s cubic-bezier(0.895, 0.03, 0.685, 0.22); */
    transition: transform 1s;
}
    
.opened{
    transform: translateY(0);

}

.close{
    width: 6em;
}

.menuImg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;
    position: absolute;
    z-index: 4;
}

.navUl{
    display: none;
    background-color: var(--darkBlue);
    margin: 0;
    padding: 3em;
    list-style-type: none;
}


.profileImg{
    width: 15em;
    margin-top: 1em;
}

.navigation{
    z-index: 4;
    height: 12em;
}