html{
    --dark-blue: #020D13;
    --projectFont: 'Raleway', sans-serif;
    --projHeaderFont: 'Recursive', sans-serif;
}

.navbar{
    width: 100%;
    height: 5em;

    color: white;
    font-family: var(--projHeaderFont);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--dark-blue);
    position: fixed;
    z-index: 2;
}

.navbar img{
    height: 2em;
}

.navbar .navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em;

    width: 8em;
}

.navbar .navbar-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-center div{
    margin: 1em;
}

.navbar .navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 8em;
}

.navbar-right div{
    margin: 1em;
}

.link{
    color: white;
    text-decoration: none;
}