html{
    --dark-blue: #020D13;
    --projectFont: 'Raleway', sans-serif;
    --projHeaderFont: 'Recursive', sans-serif;
}

.navbar{
    width: 100vw;
    height: 5em;

    color: white;
    font-family: var(--projHeaderFont);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--dark-blue);
    position: fixed;
    z-index: 2;
}

.navbar img{
    height: 2em;
}

.navbar .navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em;

    width: 8em;
}

.navbar .navbar-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-center div{
    margin: 1em;
}

.navbar .navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 8em;
}

.navbar-right div{
    margin: 1em;
}

.link{
    color: white;
    text-decoration: none;
}

@media (max-width: 900px) { 
    
    .navbar .navbar-left{
        width: 4em;
    }
    
    .navbar .navbar-right{    
        width: 4em;
    }
    
 }


 @media (max-width: 600px) { 
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .navbar .navbar-right{    
        display: none;
    }

    .navbar .navbar-left{    
        display: none;
    }

 }